{{extend 'layout.html'}}

<h1>{{=T('3. Build the images')}}</h1>

<div id="summary">
	<h2>{{=T('Summary')}}</h2>
	<div id="config">
	</div>
</div>

<div id="status">
  <img src="{{=URL('static/images', 'loading.gif')}}" alt="loading..." title="loading" style="padding-right: 8px">
  {{=T('Generating images...')}}
</div>

<div id="imagelist">
</div>

<div id="nextsteps">
    <h2>{{=T('Next Steps')}}</h2>
    <ol>
        <li>{{=T('When it\'s done, download the appropriate image file for your router.')}}</li>
        {{if "ar71xx" in session.target: }}
        <li>{{=T('Choose the factory image, if your router uses the vendor firmware. If there\'s already OpenWRT on it, take the sysupgrade file')}}</li>
        {{pass}}
        {{if "brcm47xx" in session.target: }}
        <li>{{=T('Choose the .bin image matching your router if it still uses the vendor firmware. If there\'s already OpenWRT on it, use the .trx file.')}}</li>
        {{pass}}

        <li>{{=T('Flash your router using your image via web interface or ssh and sysupgrade command, your community might have some docs about it.')}}</li>
        <li>{{=T('Wait a few minutes and drink a coffee.')}}</li>
        <li>{{=T('Now you should be able to access your router either via web interface or ssh. If you did a factory install or didn\'t keep your settings, the initial root password is admin.')}}</li>
    </ol>
</div>

<script type="text/javascript">
function ajax() {
var timeout = 10000
var retries = 10
tryCount = 0

$.ajax({
    url : '{{=URL('static/ajax', str(session.rand))}}',
    type : 'get',
    data : '',
    dataType : 'json',
    timeout : timeout,
    tryCount : 0,
    retryLimit : retries,
    success : function(json) {
        function addLinks(name, size) {
          var size = (o.size/1024/1024).toFixed(2);
          var addnew = "<a href='" + baseurl + name + "'>" + name + "</a> (" + size + " M)<br/>";
          files = files + addnew;
        }
        var files = ""
	var meta = ""
        baseurl = "{{=config.images_web_dir}}/{{=session.rand}}/bin/"
        for(var i = json.length - 1; i >= 0; --i) {
          var o = json[i];
          var name = o.name;
          if (name == "md5sums" || name == "summary.json" || name == "build.log") {
            var size = (o.size/1024/1024).toFixed(2);
            var addnew = "<a href='" + baseurl + name + "'>" + name + "</a>";
            meta = meta + " " + addnew;  
          } else {
            if(name.search("openwrt-ar71xx") != -1) {
              if(name.search("sysupgrade") != -1 || name.search("factory") != -1) {
                addLinks(name, o.size);
              }
            } else {
              addLinks(name, o.size);
            }
          }
        }
        meta = meta + "<br /><a href='" + baseurl + "'>{{=T('Show the whole directory with all files')}}</a>"
        document.getElementById('imagelist').innerHTML = files + "<br /><strong>{{=T('Metadata:')}}</strong>" + meta + "<br />" ;
    },
    error : function(xhr, textStatus, errorThrown ) {
        if (textStatus == 'timeout') {
            this.tryCount++;
            if (this.tryCount <= this.retryLimit) {
                //try again
                $.ajax(this);
                return;
            }
            alert('We have tried ' + this.retryLimit + ' times and it is still not working. We give in. Sorry.');
            return;
        }
        if (xhr.status == 500) {
            alert('Oops! There seems to be a server problem, please try again later.');
        }
        else if (xhr.status == 404) {
            tryCount++;
            if (tryCount <= retries) {
                setTimeout("ajax()", timeout);
                return;
            }
        } else {
            alert('Oops! There was a problem, sorry.');
        }
    }
});

} // end function ajax



</script>


<script type="text/javascript">

function summary(){
	$.getJSON('api/json/buildstatus?id={{=session.id}}&rand={{=session.rand}}', '', function (json, textStatus){
        var output = "{{=T('Remember! These were your configuration settings. The entire configuration you can find in the summary.json file.')}}<br/><dl> \
		<dt>{{=T('Community')}}</dt><dd>" + json.community + "</dd>\
        <dt>{{=T('Hostname')}}</dt><dd>" + json.hostname + "</dd>\
        <dt>{{=T('Location')}}</dt><dd>" + json.location + "</dd>";
        if (json.community == "weimar") {
            output += "<dt>{{=T('Nodenumber')}}</dt><dd>" + json.nodenumber + "</dd>";
        }
        output += "<dt>{{=T('Profile')}}</dt><dd>" + json.profile + "</dd>\
        <dt>{{=T('Target')}}</dt><dd>" + json.target + "</dd>\
    	</dl>" 
        document.getElementById('config').innerHTML = output;
   });
}
 

function refreshQueue(){
  $.getJSON('api/json/buildstatus?id={{=session.id}}&rand={{=session.rand}}', '', function (json, textStatus){
        var queued = json.queued;
        if (queued >= 0) {
            msgqueued = "{{=T('Builds in queue:')}}" + ' <span id=\'queued\'>' + queued + '</span>';
            jQuery(".flash").html(msgqueued).slideDown();
        }
        var status = json.status;
        if (status == 0) {
          msgsuccess = "{{=T('Firmware successfully built!')}}"
          jQuery(".flash").html(msgsuccess).slideDown();
            document.getElementById('status').innerHTML = "<h2>{{=T('Results')}}</h2>{{=T('Your images were sucessfully built. Download the image for your device now and flash it to the device. If in doubt consult the OpenWrt Wiki.')}}";
          ajax();
          clearInterval(refreshInterval);
        }
	console.log(status);

        if (status == 2) {
          msgfailed = "{{=T('Firmware generation failed!')}}"
          jQuery(".flash").html(msgfailed).slideDown();
          document.getElementById('status').innerHTML = "{{=T('Building of your images has failed. See the build.log to see what went wrong.')}}";
          ajax();
          clearInterval(refreshInterval);
        }
  });
}

summary();
var refreshInterval = setInterval(refreshQueue, 10000);
refreshQueue();   

</script>


{{block footer}}
{{include 'footer.html'}}
{{end}}
