{{extend 'layout.html'}}

<h1>{{=T('3. Build the images')}}</h1>

<div id="status">
  <img src="{{=URL('static/images', 'loading.gif')}}" alt="loading..." title="loading" style="padding-right: 8px">
  {{=T('Generating images...')}}
</div>

<div id="imagelist">
</div>

<script type="text/javascript">
function ajax() {
var timeout = 10000
var retries = 10
tryCount = 0

$.ajax({
    url : '{{=URL('static/ajax', str(session.rand))}}',
    type : 'get',
    data : '',
    dataType : 'json',
    timeout : timeout,
    tryCount : 0,
    retryLimit : retries,
    success : function(json) {
        var files = ""
        baseurl = "{{=config.images_web_dir}}/{{=session.rand}}/bin/"
        for(var i = json.length - 1; i >= 0; --i) {
          var o = json[i];
          var name = o.name;
          var size = (o.size/1024/1024).toFixed(2);
          var addnew = "<a href='" + baseurl + name + "'>" + name + "</a> (" + size + " M)<br/>";
          files = files + addnew;  
        }
        document.getElementById('imagelist').innerHTML = files;
    },
    error : function(xhr, textStatus, errorThrown ) {
        if (textStatus == 'timeout') {
            this.tryCount++;
            if (this.tryCount <= this.retryLimit) {
                //try again
                $.ajax(this);
                return;
            }
            alert('We have tried ' + this.retryLimit + ' times and it is still not working. We give in. Sorry.');
            return;
        }
        if (xhr.status == 500) {
            alert('Oops! There seems to be a server problem, please try again later.');
        }
        else if (xhr.status == 404) {
            tryCount++;
            if (tryCount <= retries) {
                setTimeout("ajax()", timeout);
                return;
            }
        } else {
            alert('Oops! There was a problem, sorry.');
        }
    }
});

} // end function ajax



</script>


<script type="text/javascript">


function refreshQueue(){
  $.getJSON('api/json/buildstatus?id={{=session.id}}&rand={{=session.rand}}', '', function (json, textStatus){
        var queued = json.queued;
        if (queued >= 0) {
            msgqueued = "{{=T('Builds in queue:')}}" + ' <span id=\'queued\'>' + queued + '</span>';
            jQuery(".flash").html(msgqueued).slideDown();
        }
        var status = json.status;
        if (status == "0") {
          msgsuccess = "{{=T('Firmware successfully built!')}}"
          jQuery(".flash").html(msgsuccess).slideDown();
          document.getElementById('status').innerHTML = "{{=T('Your images were sucessfully built. Download the image for your device now and flash it to the device. If in doubt consult the OpenWrt Wiki.')}}";
          ajax();
          clearInterval(refreshInterval);
        }
        if (status == "2") {
          msgfailed = "{{=T('Firmware generation failed!')}}"
          jQuery(".flash").html(msgsuccess).slideDown();
          document.getElementById('status').innerHTML = "{{=T('Building of your images has failed. See the build.log to see what went wrong.')}}";
          ajax();
          clearInterval(refreshInterval);
        }
  });
}
var refreshInterval = setInterval(refreshQueue, 10000);
refreshQueue();   

</script>


{{block footer}}
{{include 'footer.html'}}
{{end}}
