{{extend 'layout.html'}}

<h1>{{=T('3. Build the images')}}</h1>
<p>{{T('Your Firmware will now be generated.')}}</p>

<div id="status">
    <p>{{T('Your Firmware is generated now, this might take some minutes.')}}</p>
    <span class="buildqueue-status"></span>
</div>

<div id="imagelist">
</div>

<div id="summary">
	<h2>{{=T('Summary')}}</h2>
    <p>{{=T('Here is an overview of your configuration settings.')}}
    {{=XML(T('For the entire configuration see the %(summary_file)s file.', dict(summary_file=url_summary)))}}
    </p>
    <dl> 
		<dt>{{=T('Community')}}</dt><dd>{{=session.community}}</dd>
        <dt>{{=T('Hostname')}}</dt><dd>{{=session.hostname}}</dd>
        {{if session.location:}}
        <dt>{{=T('Location')}}</dt><dd>{{=session.location}}</dd>
        {{pass}}
        {{if session.community == "weimar":}}
        <dt>{{=T('Nodenumber')}}</dt><dd>{{=session.nodenumber}}</dd>
        {{pass}}
        {{if session.main_mesh_ip:}}
        <dt>{{=T('Mesh IP')}}</dt><dd>{{=session.main_mesh_ip}}</dd></dt>
        {{pass}}
	{{if session.community != "weimar":}}
        <dt>{{=T('LAN IP-Address')}}</dt><dd>{{=session.lanipv4addr}}</dd>
	{{pass}}
        <dt>{{=T('Target')}}</dt><dd>{{=session.target}}</dd>
        <dt>{{=T('Profile')}}</dt>{{=session.profile}}</dd>
    </dl>
</div>

<div id="nextsteps">
    <h2>{{=T('Next Steps')}}</h2>
    <ol>
        <li>{{=T('When it\'s done, download the appropriate image file for your router.')}}</li>
        {{if "ar71xx" in session.target: }}
        <li>{{=T('Choose the factory image, if your router uses the vendor firmware. If there\'s already OpenWRT on it, take the sysupgrade file')}}</li>
        {{pass}}
        {{if "brcm47xx" in session.target: }}
        <li>{{=T('Choose the .bin image matching your router if it still uses the vendor firmware. If there\'s already OpenWRT on it, use the .trx file.')}}</li>
        {{pass}}

        <li>{{=T('Flash your router using your image via web interface or ssh and sysupgrade command, your community might have some docs about it.')}}</li>
        <li>{{=T('Wait a few minutes and drink a coffee.')}}</li>
        <li>{{=T('Now you should be able to access your router either via web interface or ssh. If you did a factory install or didn\'t keep your settings, the initial root password is admin.')}}</li>
    </ol>
</div>

<script>
    var url = {
        status_ajax: '{{=URL('static/ajax', str(session.rand))}}',
        status_api: 'api/json/buildstatus?id={{=session.id}}&rand={{=session.rand}}',
        baseurl_bin: '{{=config.images_web_dir}}/{{=session.rand}}/bin/'
    }
    var i18n = {
        show_bindir: "{{=T('Show the whole directory with all files')}}",
        metadata:"{{=T('Meta data')}}",
        builds_in_queue: "{{=T('Builds in queue:')}}",
        success: "{{=T('Firmware successfully built!')}}",
        success_msg: "{{=T('Your images were sucessfully built. Download the image for your device now and flash it to the device. If in doubt consult the OpenWrt Wiki.')}}",
        queued_msg: "{{=T('The task for firmware generation is now queued. Total builds in queue:')}}",
        failed: "{{=T('Firmware generation failed!')}}",
        failed_msg: "{{=T('Building of your images has failed. See the build.log to see what went wrong.')}}",
        processing: "{{=T('Your images are now being processed.')}}"
        
    };
    var refreshInterval = setInterval(refreshQueue, 5000);
    $( document ).ready(function() {
        refreshQueue();
    });
</script>


{{block footer}}
{{include 'footer.html'}}
{{end}}
