{{extend 'layout.html'}}
{{footer_enable=True}}
<h1>{{=T('1. Basic configuration')}}</h1>

<div id="custom_text_start">
	{{=XML(startpage)}}
</div>

{{if config.documentation_url:}}
<div id="docurl">
  {{=XML(T('If you need help with Meshkit please see: %(url)s.') %
         dict(url='<a href="' + config.documentation_url + '">' + T('Meshkit Documentation') + '</a>'))}}
</div>
{{pass}}




    <form method="post" name="step1" enctype="multipart/form-data" action="">
{{if len(targets) == 1:
	field_target = formhelpers.formfield()
	field_target.Name = 'target'
	field_target.Label = T('Target')
	field_target.Valuetext = targets[0]
	field_target.Inputtype = 'hidden'
	field_target.Value = targets[0]
	field_target = field_target.input()
else:
	field_target = formhelpers.formfield()
	field_target.Name = 'target'
	field_target.Label = T('Target')
	field_target.Valuelist = targets
	field_target.Valueselected = request.vars.target
	field_target.Helptext = T('For which hardware platform you want to build an image. If you are unsure which is the right one for your device visit the openwrt wiki and search for your device there.')
	field_target = field_target.select()
}}
{{pass}}
{{	
field_noconf = formhelpers.formfield()
field_noconf.Name = 'noconf'
field_noconf.Label = T('No configuration')
field_noconf.Value = session.noconf
field_noconf.Helptext = T('If you check this option meshkit will only build your images, but not configure your system. Also it is still possible to select packages and upload your own files.')
field_noconf = field_noconf.chkbox()

field_mail = formhelpers.formfield()
field_mail.Name = 'mail'
field_mail.Label = T('Email')
field_mail.Helptext = T('Enter your email address here. After the images have been built you will receive an email with download links for the firmware.')
field_mail.Value = request.vars.mail or user_email or ''
field_mail = field_mail.input()
}}

{{if config.communitysupport == True:
    if len(communities) > 1:
    	field_community = formhelpers.formfield()
    	field_community.Name = 'community'
    	field_community.Label = T('Community')
    	field_community.Valuelist = communities
    	field_community.Valueselected = session.community
    	field_community.Helptext = T('Please select your wireless community here. This will select reasonable defaults for step 2 of the image configuration.')
    	field_community = field_community.select()
    else:
	    field_community = formhelpers.formfield()
        field_community.Name = 'community'
        field_community.Label = T('Community')
        field_community.Value = communities[0]
        field_community.Valuetext = communities[0]
	    field_community.Inputtype = 'hidden'
        field_community = field_community.input()
}}
{{pass}} 
{{=field_community}}
{{pass}}

        

        

{{=field_target}}
{{if config.showexpertmode == True:
	field_expert = formhelpers.formfield()
	field_expert.Name = 'expert'
	field_expert.Label = T('Expert')
	field_expert.Helptext = T('Enable this to show much more options for customizing your firmware.')
	field_expert.Value = session.expert
	field_expert = field_expert.chkbox()
}}
{{=field_expert}}
{{pass}}

{{if not config.noconf == True:}}
    {{=field_noconf}}
{{pass}}
        
{{=field_mail}}
            
        <!-- input type="submit" value="SUBMIT"/ -->
        <input type="hidden" name="profile" id="imageconf_profile"/>
        <input type="hidden" name="_formname" value="step1" />
    </form>
<div style="height:35px"></div>

<h2>{{=T('Select by model')}}</h2>
<p>{{=T('You may select some known router models below. The target on this page and the profile on the next page will automatically be set for you then.')}}<br />
{{=T('If your model is not shown below then continue by setting target and profile (on the next page) manually.')}}</p>

<div id="modellist">
</div>
<script type="text/javascript">

var modellist = {{=XML(modellist)}};
var target_options = document.getElementById('imageconf_target').options;
var target_hiddenvalue = document.getElementById('imageconf_target').value;

function target_rewrite(target) {
    for(option in target_options) {
	var ret;
	if(typeof target_options[option].value != "undefined"){
          if (target_options[option].value.match(target)) {
             ret = target_options[option].value;
          }
	}
    }
    if (typeof ret == "undefined") {
       ret = target_hiddenvalue
    }
    return ret;
}


function set_target(target) {
    $('select[name="target"]').val(target);
}

function set_profile(profile) {
    $('input[name="profile"]').val(profile);
}

var list = "<table>";

for(var manufacturer in modellist) {
  var len = Object.keys(modellist[manufacturer]).length;
  list += '<tr>';
  list += '<th>' + manufacturer + '</th>';
  var i = 1;
  for(var model in modellist[manufacturer]) {
    list += '<td>';
    var target = modellist[manufacturer][model]['target'];
    var profile = modellist[manufacturer][model]['profile'];
    var full_target = target_rewrite(target);
    msg = '{{=T('Selected')}} ' + model + '<ul><li>{{=T('Target')}}: ' + full_target + '</li><li>{{=T('Profile')}}: ' + profile + '</li></ul>';
    link = "<a href='javascript:void(0)' onclick='set_target(\"" + full_target + "\");";
    link += "set_profile(\"" + profile + "\");document.step1.submit();";
    link += "jQuery(\".flash\").html(" + "\"" + msg + "\"" + ").slideDown()'>" + model + "</a>";
    if( typeof full_target != "undefined") {
      if(i < len) {
        list += link + " | "
      } else {
        list += link;
      }
    }
    i++;
  }
  list += '</td></tr>';
list += "</table";
}


document.getElementById('modellist').innerHTML = list

</script>

{{block footer}}
{{include 'footer.html'}}
{{end}}
