{{extend 'layout.html'}}
{{response.files.append(URL(r=request,c='static',f='js/jquery.flot.js'))}}
{{response.files.append(URL(r=request,c='static',f='js/jquery.flot.pie.js'))}}
{{response.files.append(URL(r=request,c='static',f='js/jquery.flot.resize.js'))}}
{{response.include_files()}}

<h2>{{=T('System Status')}}</h2>
<table class="table status">
    <tr>
        <td>{{=T('Buildqueue running?')}}</td>
        <td>
            <span class='worker'>
                <span class="sr-only">{{=T("No")}}</span>
                {{=T('Workers')}}: <span id="num-worker">-</span>
            </span>
        </td>
    </tr>
    <tr>
        <td>{{=T('Load average')}}</td><td><strong><span id="loadavg">-</span></strong></td>
    <tr>
    <tr>
        <td>{{=T('Memory usage')}}</td>
        <td><strong><span id="memfree">-</span> {{=T('MB')}}</strong> {{=T('free')}} /
            <strong><span id="memused">-</span> {{=T('MB')}}</strong> {{=T('used')}}</td>
</table>

<div id="row">
    <h2>{{=T('Build Status')}}</h2>
    <div id="builds-overview" class="chart pie col-md-6"></div>
    <div id="builds-community" class="chart pie col-md-6"></div>
</div>

<div id="row">
    <div id="builds-target" class="chart pie col-md-6"></div>
    <div id="builds-profile" class="chart pie col-md-6"></div>
</div>

<script type="text/javascript">
  // Keep interval in a variable to be able to cancel it later.
  $( document ).ready(function() {
    var refreshInterval = setInterval(refreshStats, 50000);
    refreshStats();
  });
</script>

{{block footer}}
{{include 'footer.html'}}
{{end}}
