{{extend 'layout.html'}}
<h2>{{=T('Status')}}</h2>

<table width="99%">
  <tr>
    <td width="30%">{{=T('Buildqueue running?')}}</td>
    <td>
        <span class='worker'>
            <span class="sr-only">{{=T("No")}}</span>
            {{=T('Workers')}}: <span id="num-worker">-</span>
        </span>
    </td>
  </tr>
  <tr>
    <td>{{=T('Load average')}}</td><td><strong><span id="loadavg">-</span></strong></td>
  <tr>
  <tr>
    <td>{{=T('Memory usage')}}</td>
    <td><strong><span id="memfree">-</span> {{=T('MB')}}</strong> {{=T('free')}} /
                <strong><span id="memused">-</span> {{=T('MB')}}</strong> {{=T('used')}}</td>
</table>

<h2>{{=T('Statistics')}}</h2>
<table width="99%">
  <tr>
    <td width="30%">{{=T('Total images generated')}}</td>
    <td><strong><span id="totalimg">-</span></strong></td>
  </tr>
  <tr>
    <td width="30%">{{=T('Successful')}}</td>
    <td><span style="color:green" id="successimg">-</span></td>
  </tr>
  <tr>
    <td width="30%">{{=T('Failed')}}</td>
    <td><span style="color:red" id="failedimg">-</span></td>
  </tr>
  <tr>
    <td width="30%">{{=T('Queued')}}</td>
    <td><span id="queuedimg">-</span></td>
  </tr>
</table>

<script type="text/javascript">

function refreshStats(){
  $.getJSON('api/json/status', '', function (json, textStatus){
        var workers_running = json.num_workers;        
        if (workers_running > 0) {
            $(".worker").removeClass("icon-status-notok")
                    .addClass("icon-status-ok");
            $(".worker > .sr-only").html('{{=T("Yes")}}');
        } else {
            $(".worker").removeClass("icon-status-ok")
                    .addClass("icon-status-notok");
            $(".worker > .sr-only").html('{{=T("No")}}');
        }
        $("#num-worker").html(workers_running);
        
        document.getElementById('memfree').innerHTML = json.memfree;
        document.getElementById('memused').innerHTML = json.memused;
        document.getElementById('loadavg').innerHTML = json.loadavg;
        document.getElementById('totalimg').innerHTML = json.totalimg;
        document.getElementById('successimg').innerHTML = json.successimg;
        document.getElementById('failedimg').innerHTML = json.failedimg;
        document.getElementById('queuedimg').innerHTML = json.queuedimg;
  });
}

  // Keep interval in a variable in case you want to cancel it later.
  var refreshInterval = setInterval(refreshStats, 5000);
  refreshStats();
</script>

{{block footer}}
{{include 'footer.html'}}
{{end}}
