{{extend 'layout.html'}}
<h2>{{=T('Status')}}</h2>

<table width="99%">
  <tr>
    <td width="30%">{{=T('Buildqueue running?')}}</td>
    {{if status:}}
    <td><img src="{{=URL('static', 'images/icons/check.gif')}}" alt="Yes" title="Yes"></td>
    {{else:}}
    <td><img src="{{=URL('static', 'images/icons/cross.gif')}}" alt="No" title="No"></td>
    {{pass}}
  </tr>
  <tr>
    <td>{{=T('Load average')}}</td><td><strong>{{=loadavg}}</strong></td>
  <tr>
  <tr>
    <td>{{=T('Memory usage')}}</td>
    <td><strong>{{=memfree}} {{=T('MB')}}</strong> {{=T('free')}} /
                <strong>{{=memused}} {{=T('MB')}}</strong> {{=T('used')}}</td>
</table>

<h2>{{=T('Statistics')}}</h2>
<table width="99%">
  <tr>
    <td width="30%">{{=T('Total images generated')}}</td>
    <td><strong>{{=totalimg}}</strong></td>
  </tr>
  <tr>
    <td width="30%">{{=T('Successful')}}</td>
    <td><span style="color:green">{{=successimg}}</span></td>
  </tr>
  <tr>
    <td width="30%">{{=T('Failed')}}</td>
    <td><span style="color:red">{{=failedimg}}</span></td>
  </tr>
</table>

{{block footer}}
{{include 'footer.html'}}
{{end}}
