{{extend 'layout.html'}}

<script>
    var profilepackages = '',
        defaultpackages = '{{for pkg in defaultpkgs:}}{{=pkg}} {{pass}}',
        extrapackages = '',
        communitypackages = '{{=community_packages}}',
        nosharepackages = '',
        webifpackages = ''
        qospackages = '',
        ipv6packages_default = '{{=ipv6_packages}}',
        ipv6packages = '{{=ipv6_packages}}',
        user_packagelist = '{{=user_packagelist}}',
        addpackages = '{{=addpackages}}',
        ajaxUrl = '{{=URL("static", "ajax")}}',
        session = new Object();
        session.target = '{{=session.target}}';
        wifi_ifs_initial = 1;
        wifi_ifs_max = 3;
        
      
    fields = {
        wanipv4addr: '{{=fh.field("wanipv4addr")}}',
        wannetmask: '{{=fh.field("wannetmask")}}',
        localrestrict: '{{=fh.field("localrestrict")}}',
        sharenet: '{{=fh.field("sharenet")}}',
        wan_allow_ssh: '{{=fh.field("wan_allow_ssh")}}',
        wan_allow_web: '{{=fh.field("wan_allow_web")}}',
        wan_qos: '{{=fh.field("wan_qos")}}' + '<div id="qos-options"></div>',
        wan_qos_down: '{{=fh.field("wan_qos_down")}}',
        wan_qos_up: '{{=fh.field("wan_qos_up")}}',
        wangateway: '{{=fh.field("wangateway")}}',
        wandns: '{{=fh.field("wandns")}}',
        landhcp: '{{=fh.field("landhcp", advanced="lan_dhcp_range")}}',
        landhcprange: '{{=fh.field("landhcprange", suboption="lan_dhcp_range")}}',
        theme: '{{=fh.field("theme")}}',
//        wifi0: {
//            ipv4addr: '{{=fh.field("wifi0ipv4addr")}}',
//            chan: '{{=fh.field("wifi0chan")}}',
//            dhcp: '{{=fh.field("wifi0dhcp", advanced="wifi0_dhcp_advanced")}}',
//            dhcprange: '{{=fh.field("wifi0dhcprange", suboption="wifi0_dhcp_advanced")}}',
//            vap: '{{=fh.field("wifi0vap", advanced="wifi0_vap_advanced")}}',
//            ipv6ra: '{{=fh.field("wifi0ipv6ra", suboption="wifi0_vap_advanced")}}',
//        }
    };
    
    /* wifi interfaces */
    {{for i in range(3):}}
        fields["wifi{{=i}}"] = {
            enabled: '{{=fh.field("wifi%senabled" % i)}}',
            ipv4addr: '{{=fh.field("wifi%sipv4addr" % i)}}',
            chan: '{{=fh.field("wifi%schan" % i)}}',
            dhcp: '{{=fh.field("wifi%sdhcp" % i, advanced="wifi%s_dhcp_advanced" % i)}}',
            dhcprange: '{{=fh.field("wifi%sdhcprange" % i, suboption="wifi%s_dhcp_advanced" % i)}}',
            vap: '{{=fh.field("wifi%svap" % i, advanced="wifi%s_vap_advanced" % i)}}',
            ipv6ra: '{{=fh.field("wifi%sipv6ra" % i, suboption="wifi%s_vap_advanced" % i)}}',    
        }
        {{ if session.ipv6_config == 'static':}}
            fields["wifi{{=i}}"].ipv6addr: '{{=fh.field("wifi%sipv6addr" % i)}}';
        {{pass}}
    {{pass}}
    
    
    {{ if session.ipv6_config == 'static':}}
    fields.lan_ipv6addr = '{{=fh.field("lanipv6addr")}}';
    {{pass}}
    
    var package_vars = {
          ajaxUrl: '{{=URL('static/package_lists', session.target)}}',
          lang: {
              Package: "{{=T('Package')}}",
              Version: "{{=T('Version')}}",
              Size: "{{=T('Size')}}"
          },
          errors: {
              parseError: "{{=T('There was a problem parsing the package list, is it really valid json?')}}",
              timeout: "{{=T('Loading the package list timed out.')}}",
              serverError: "{{=T('The server returned status 500 and the package list could not be loaded, please try again later.')}}",
              unspecified: "{{=T('There was another problem loading the package list.')}}"
          }
      }
</script>

{{BEAUTIFY(form.errors)}}
<h1>{{=T('2. Image configuration')}}</h1>



<form action="" name="MAINFORM" enctype="multipart/form-data" method="POST" class="form-horizontal border-top{{if session.expert:}} expert-mode{{pass}}">

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <!-- SYSTEM TAB -->
        {{=formhelpers.panel_start("system", T('System'), T('Basic system settings'), True)}}
        
        {{=fh.field("password_hash")}}

        {{if session.profiles:}}
        {{=fh.field("profile")}}
        {{pass}}


        {{if session.firmware == 'kalua':}}
        {{=fh.field("nodenumber")}}
        <div id="imageconf_nodenumber_status" class="form-group"></div>
        <div>
            {{=fh.field("pubkeys")}}
        </div>
        {{pass}}

        <div class="expert">
            {{=fh.field("webif")}}
        </div>

        <div id="theme_options" class="expert">
            <!-- this will be inserted by the themeselect() function -->
        </div>

        {{=fh.field("hostname")}}

        {{if session.ipv6conf == True:}}
        <div class="expert">
            {{=fh.field("ipv6")}}
        </div>
        {{pass}}

        <div class="expert">
            {{=fh.field("pubkeys")}}
        </div>
        {{pass}}
        
        {{=formhelpers.panel_end()}}

        <!-- LOCATION TAB -->
        {{if not session.noconf == True and session.communitysupport == True:}}
        {{=formhelpers.panel_start("location", T('Location'), T('Location for this node'))}}
        
        <div id='osm'>
            {{=fh.field("location")}}
            {{=fh.field("latitude", widget_class="map-latitude")}}
            {{=fh.field("longitude", widget_class="map-longitude")}}
            <button type="button" class="btn btn-primary icon-location" data-hidden="{{=T('Show map')}}" data-visible="{{=T('Hide map')}}" id="showmap">{{=T('Show map')}}</button>
        </div>
        <div id='map-container'></div>
        
        {{=formhelpers.panel_end()}}
        {{pass}}

        
        <!-- CONTACT TAB -->
        {{if not session.noconf == True and session.communitysupport == True:}}
        {{=formhelpers.panel_start("contact", T('Contact'), T('Please enter some personal informations here so others can contact you. Please have at least one valid contact option (email or phone). This data is shown on the public status page of the routers web interface.'))}}

        {{=fh.field("nickname")}}
        {{=fh.field("name")}}
        {{=fh.field("homepage")}}
        {{=fh.field("email")}}
        {{=fh.field("phone")}}
        {{=fh.field("note")}}

        {{=formhelpers.panel_end()}}
        {{pass}}

        <!-- Start wifi tab -->
        {{if session.firmware <> 'kalua' and not session.noconf == True:}}
        {{=formhelpers.panel_start("wireless", T('Wireless'), T('Configure your wireless interface(s) here. These will be configured to operate in adhoc mode with the correct settings for your community.'))}}
        <input type="hidden" name="wifiifsnr" id="wifiifsnr" value="{{=form.vars.wifiifsnr or '0'}}" />

        <div id="wifi-interfaces">
            <!-- populated by js -->
        </div>
        <div class="wifi-add-remove-buttons">
            <a href="javascript:void(0)" id="wifi-interface-add">{{=T('Add another wifi interface.')}}</a>
            <a href="javascript:void(0)" id="wifi-interface-remove">{{=T('Remove last wifi interface.')}}</a>
        </div>

        {{=formhelpers.panel_end()}}
        {{pass}}
        <!-- End wifi tab -->
        
        <!-- LAN TAB -->
        
        {{
            lan_descr = '<p>%s</p>' % T('You can change the settings for the LAN interface here.')
            lan_descr += '<ul>'
            lan_descr += '<li>%s</li>' % T('Per default OpenWrt uses the "static" protocol and an ip address of "192.168.1.1" with netmask "255.255.255.0".')
            lan_descr += '<li>%s</li>' % T('If you choose protocol "olsr" then use an ip address from the mesh network. In this case olsr will be enabled on this interface and it will be added to the firewall zone "freifunk".')
            lan_descr += '</ul>'
        }}
    
        {{if session.firmware <> 'kalua' and not session.noconf == True:}}
        {{=formhelpers.panel_start("lan", T('LAN'), lan_descr)}}

        {{=fh.field("lanproto")}}
        {{=fh.field("lanipv4addr")}}
        {{=fh.field("lannetmask")}}

        <div id="lan_options">
            <!--This will be inserted by the lanselect() function -->
        </div>
        {{=formhelpers.panel_end()}}
        {{pass}}

  
 
        <!-- WAN TAB -->
        {{if session.firmware <> 'kalua' and not session.noconf == True:}}
        {{=formhelpers.panel_start("wan", T('WAN'), T('Configure your wan interface here. The OpenWrt Default is to use "dhcp".'))}}

        {{=fh.field("wanproto")}}
        <div id="wan_options">
            <!-- This will be inserted by the wanselect() function -->
        </div>
        {{=formhelpers.panel_end()}}
        {{pass}}



        <!-- PACKAGES TAB -->
        {{=formhelpers.panel_start("packages", T('Packages'), T('Add or remove packages which are going to be installed into your firmware image here.'))}}
        <div class="default-packages-container">
            <strong>{{=T('Default Packages')}}:</strong> 
            <div id='default-packages'></div>
        </div>

        {{=fh.field("packages")}}

        <div class="available-packages-container">
            <H2>{{=T('Available Packages')}}</h2>

            <div class="panel-group" id="packagelist" role="tablist" aria-multiselectable="true">
                <img src="{{=URL('static', 'images/loading.gif')}}" alt="loading..." title="loading" style="padding-right: 8px">
                {{T("Loading package list...")}}
            </div>
        </div>
        {{=formhelpers.panel_end()}}


        <!-- UPLOAD TAB -->
        {{=formhelpers.panel_start("upload", T('Upload'), T('Upload a tar.gz file which will be extracted and included in the image. The files in this archive are placed in the root of your image in the same way they are arranged in the archive.'))}}

        <div class="form-group">
            <div class="form-options">
                <input type="file" id="upload" class="upload" name="upload"/>
                {{ if form.errors.upload:}}
                <div id="upload__error" class="error">{{=T('Only tar.gz archives can be uploaded.')}}</div>
                {{pass}}
            </div>
        </div>
        {{=formhelpers.panel_end()}}
    </div>
    <input type="submit" value="{{=T('Build image')}}" class="btn btn-default btn-primary btn-submit" />
    
    <!-- Hidden fields -->
    <input type="hidden" name="target" value="{{=session.target}}" />
    <input type="hidden" name="url" value="{{=session.url}}" />
    {{if not config.noconf == True:}}
    <input type="hidden" name="community" value="{{=session.community}}" />
    <input type="hidden" name="firmware" value="{{=session.firmware}}" />
    {{pass}}
    <input type="hidden" name="mail" value="{{=session.mail}}" />
    {{if not config.noconf == True:}}
    {{if not session.noconf == False:}}
    <input type="hidden" name="noconf" value="True" />
    {{pass}}
    {{pass}}
    {{ if session.ipv6_config:}}
    <input type="hidden" name="ipv6_config" value="{{=session.ipv6_config}}" />
    {{pass}}
    <input type="hidden" name="status" value="1" />
    <input type="hidden" name="rand" value="{{=rand}}" />
    {{=form.hidden_fields()}}
</form>


{{if session.firmware == 'kalua':}}
  <!-- REGISTRATOR client -->
  <script src="{{=session.kalua_registrator}}"></script>
  <script>
  // define function to handle api answer as a callback
  function _ffreg_check_callback(answer) {

    // update the status HTML with the result
    jQuery('#imageconf_nodenumber_status').html("<label class='control-label col-sm-3'>Result</label><div class='form-options'>" + answer.result + "</div>");
        
    var status_color = "lightgrey";
    status_color = answer.free ? 'lightgreen' : 'lightsalmon';
    $('#imageconf_nodenumber').css('background', status_color);
  }
  jQuery("#imageconf_nodenumber").focusout(function(e) {
    FFReg.check(this.value, _ffreg_check_callback)
  });
  </script>
{{pass}}

<script>
    $( document ).ready(function() {
        init_step2();
    });
</script>

{{block footer}}
{{include 'footer.html'}}
{{end}}
