{{extend 'layout.html'}}

<script>
    var profilepackages = '',
        defaultpackages = '{{for pkg in defaultpkgs:}}{{=pkg}} {{pass}}',
        extrapackages = '',
        communitypackages = '{{=community_packages}}',
        nosharepackages = '',
        luci_default_packages = '{{=lucipackages}}',
        lucipackages = '',
        qospackages = '',
        ipv6packages_default = '{{=ipv6_packages}}',
        ipv6packages = '{{=ipv6_packages}}',
        user_packagelist = '{{=user_packagelist}}',
        addpackages = '{{=addpackages}}',
        ajaxUrl = '{{=URL("static", "ajax/")}}',
        assets_js = '{{=URL("static", "js/")}}',
        session = new Object();
        session.target = '{{=session.target}}';
        
    fields = {
        wanipv4addr: '{{=fh.field("wanipv4addr")}}',
        wannetmask: '{{=fh.field("wannetmask")}}',
        localrestrict: '{{=fh.field("localrestrict")}}',
        sharenet: '{{=fh.field("sharenet")}}',
        wan_allow_ssh: '{{=fh.field("wan_allow_ssh")}}',
        wan_allow_web: '{{=fh.field("wan_allow_web")}}',
        wan_qos: '{{=fh.field("wan_qos")}}' + '<div id="qos-options"></div>',
        wan_qos_down: '{{=fh.field("wan_qos_down")}}',
        wan_qos_up: '{{=fh.field("wan_qos_up")}}',
        wangateway: '{{=fh.field("wangateway")}}',
        wandns: '{{=fh.field("wandns")}}',
        landhcp: '{{=fh.field("landhcp", advanced="lan_dhcp_range")}}',
        landhcprange: '{{=fh.field("landhcprange", suboption="lan_dhcp_range")}}',
        theme: '{{=fh.field("theme")}}',
    };
    {{ if session.ipv6_config == 'static':}}
    fields.lan_ipv6addr = '{{=fh.field("lanipv6addr")}}';
    {{pass}}
    
    var package_vars = {
          ajaxUrl: '{{=URL('static/package_lists', session.target)}}',
          lang: {
              Package: "{{=T('Package')}}",
              Version: "{{=T('Version')}}",
              Size: "{{=T('Size')}}"
          },
          errors: {
              parseError: "{{=T('There was a problem parsing the package list, is it really valid json?')}}",
              timeout: "{{=T('Loading the package list timed out.')}}",
              serverError: "{{=T('The server returned status 500 and the package list could not be loaded, please try again later.')}}",
              unspecified: "{{=T('There was another problem loading the package list.')}}"
          }
      }
    
</script>

<h1>{{=T('2. Image configuration')}}</h1>

<form action="" name="MAINFORM" enctype="multipart/form-data" method="POST"{{if session.expert:}} class="expert-mode"{{pass}}>
      
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        
        <!-- SYSTEM TAB -->
        {{=formhelpers.panel_start("system", T('System'), T('Basic system settings'), True)}}
        
        {{=fh.field("password_hash")}}

        {{if session.profiles:}}
        {{=fh.field("profile")}}
        {{pass}}


        {{if session.community == 'weimar':}}
        {{=fh.field("nodenumber")}}
        {{pass}}

        <div class="expert">
            {{=fh.field("webif")}}
        </div>

        <div id="theme_options" class="expert">
            <!-- this will be inserted by the themeselect() function -->
        </div>

        {{=fh.field("hostname")}}

        {{if session.ipv6conf == True:}}
        <div class="expert">
            {{=fh.field("ipv6")}}
        </div>
        {{pass}}

        <div class="expert">
            {{=fh.field("pubkeys")}}
        </div>
        {{pass}}
        
        {{=formhelpers.panel_end()}}

        <!-- LOCATION TAB -->
        {{if not session.noconf == True and session.communitysupport == True:}}
        {{=formhelpers.panel_start("location", T('Location'), T('Location for this node'))}}
        
        <div id='osm'>
            {{=fh.field("location")}}
            {{=fh.field("latitude")}}
            {{=fh.field("longitude")}}
            <button type="button" data-hidden="{{=T('Show map')}}" data-visible="{{=T('Hide map')}}" id="showmap">{{=T('Show map')}}</button>
        </div>
        <div id='map-container'></div>
        
        {{=formhelpers.panel_end()}}
        {{pass}}

        
        <!-- CONTACT TAB -->
        {{if not session.noconf == True and session.communitysupport == True:}}
        {{=formhelpers.panel_start("contact", T('Contact'), T('Please enter some personal informations here so others can contact you. Please have at least one valid contact option (email or phone).'))}}

        {{=fh.field("nickname")}}
        {{=fh.field("name")}}
        {{=fh.field("homepage")}}
        {{=fh.field("email")}}
        {{=fh.field("phone")}}
        {{=fh.field("note")}}

        {{=formhelpers.panel_end()}}
        {{pass}}

    {{if session.community <> 'weimar' and not session.noconf == True:}}
    <!-- Start wifi tab -->
    {{=formhelpers.panel_start("wireless", T('Wireless'), T('Configure your wireless interface(s) here. These will be configured to operate in adhoc mode with the correct settings for your community.'))}}
    <input type="hidden" name="wifiifsnr" id="wifiifsnr" value="{{=form.vars.wifiifsnr or 1}}" />
    <script type="text/javascript">
      var wifi_counter = 0;
      var wifi_limit = 3;
      function removeWifi(number) {
        if (document.getElementById(number)) {
          parent = document.getElementById(number).parentNode
          child = document.getElementById(number);
          parent.removeChild(child);
          wifi_counter--;
          document.getElementById("wifiifsnr").value = wifi_counter;
        };
      }
      function addInput(divName){
        if (wifi_counter == wifi_limit)  {
          alert("{{=T('Maximum number of wifi interfaces reached.')}}");
        }
        else {
          var e_wifi0_ipv4addr = "{{=form.errors.wifi0ipv4addr}}";
          var e_wifi1_ipv4addr = "{{=form.errors.wifi1ipv4addr}}";
          var e_wifi2_ipv4addr = "{{=form.errors.wifi2ipv4addr}}";
          var v_wifi0_ipv4addr = "{{=form.vars.wifi0ipv4addr or defip}}";
          var v_wifi1_ipv4addr = "{{=form.vars.wifi1ipv4addr or defip}}";
          var v_wifi2_ipv4addr = "{{=form.vars.wifi2ipv4addr or defip}}";

          var e_wifi0_ipv6addr = "{{=form.errors.wifi0ipv6addr}}";
          var e_wifi1_ipv6addr = "{{=form.errors.wifi1ipv6addr}}";
          var e_wifi2_ipv6addr = "{{=form.errors.wifi2ipv6addr}}";
          var v_wifi0_ipv6addr = "{{=form.vars.wifi0ipv6addr or ''}}";
          var v_wifi1_ipv6addr = "{{=form.vars.wifi1ipv6addr or ''}}";
          var v_wifi2_ipv6addr = "{{=form.vars.wifi2ipv6addr or ''}}";

          var e_wifi0_chan = "{{=form.errors.wifi0chan}}";
          var e_wifi1_chan = "{{=form.errors.wifi1chan}}";
          var e_wifi2_chan = "{{=form.errors.wifi2chan}}";
          var v_wifi0_chan = "{{=form.vars.wifi0chan or defchannel}}";
          var v_wifi1_chan = "{{=form.vars.wifi1chan or defchannel}}";
          var v_wifi2_chan = "{{=form.vars.wifi2chan or defchannel}}";

          var e_wifi0_dhcprange = "{{=form.errors.wifi0dhcprange}}";
          var e_wifi1_dhcprange = "{{=form.errors.wifi1dhcprange}}";
          var e_wifi2_dhcprange = "{{=form.errors.wifi2dhcprange}}";
          var v_wifi0_dhcprange = "{{=form.vars.wifi0dhcprange or ''}}";
          var v_wifi1_dhcprange = "{{=form.vars.wifi1dhcprange or ''}}";
          var v_wifi2_dhcprange = "{{=form.vars.wifi2dhcprange or ''}}";

          var v_wifi0_vap = "{{=form.vars.wifi0vap or session.wifi0vap or ''}}";
          var v_wifi1_vap = "{{=form.vars.wifi1vap or session.wifi1vap or ''}}";
          var v_wifi2_vap = "{{=form.vars.wifi2vap or session.wifi2vap or ''}}";

          var v_wifi0_ipv6ra = "{{=form.vars.wifi0ipv6ra or session.wifi0ipv6ra or ''}}";
          var v_wifi1_ipv6ra = "{{=form.vars.wifi1ipv6ra or session.wifi1ipv6ra or ''}}";
          var v_wifi2_ipv6ra = "{{=form.vars.wifi2ipv6ra or session.wifi2ipv6ra or ''}}";

          var newdiv = document.createElement('div');
          wrapper_start = "<div id='wifi" + wifi_counter + "'>";
          wrapper_start += "<fieldset class='section' xmlns='http://www.w3.org/1999/xhtml'>";
          wrapper_start += "<legend>Wifi" + wifi_counter;
          wrapper_start += "<span class='sectionremove'>";
          wrapper_start += "<a onclick=\"removeWifi('wifi" + wifi_counter + "')\" ";
          wrapper_start += "href='javascript:void(0)' title='{{=T('Remove')}}'>";
          wrapper_start += "<img src=\"{{=URL('static', 'images/icons/remove.gif')}}\" alt=\"{{=T('Remove')}}\">";
          wrapper_start += "</a></span></legend>";

          wifi_ipv4addr_label = "<label id='imageconf_wifi" + wifi_counter + "ipv4addr__label' ";
          wifi_ipv4addr_label += "for='imageconf_wifi" + wifi_counter + "ipv4addr' class='form_label'>";
          wifi_ipv4addr_label += "{{=T('IPv4 address')}}</label>";
          wifi_ipv4addr_input = "<div class='form_value'>";
          wifi_ipv4addr_input += "<input type='text' id='imageconf_wifi" + wifi_counter + "ipv4addr' ";
          wifi_ipv4addr_input += "value='" + eval('v_wifi' + wifi_counter + '_ipv4addr') + "' name='wifi" + wifi_counter + "ipv4addr'/>";
          wifi_ipv4addr_input += '{{=formhelpers.helptext(T("IPv4 address for this interface."),config.expandablehelp)}}';

          for (var i=0; i<wifi_limit; i++) {
            var e = eval("e_wifi" + i + "_ipv4addr");
            if (e!="None" && wifi_counter==i)  {
              wifi_ipv4addr_input += "<div id='wifi" + wifi_counter + "ipv4addr__error' class='error'>" + e + "</div>";
            }
          }
          wifi_ipv4addr_input += "</div>"
          wifi_ipv4addr = wifi_ipv4addr_label + wifi_ipv4addr_input;

          wifi_ipv6addr = '';
          {{ if session.ipv6_config == 'static':}}
          wifi_ipv6addr_label = "<label id='imageconf_wifi" + wifi_counter + "ipv6addr__label' ";
          wifi_ipv6addr_label += "for='imageconf_wifi" + wifi_counter + "ipv6addr' class='form_label'>";
          wifi_ipv6addr_label += "{{=T('IPv6 address')}}</label>";
          wifi_ipv6addr_input = "<div class='form_value'>";
          wifi_ipv6addr_input += "<input type='text' id='imageconf_wifi" + wifi_counter + "ipv6addr' ";
          wifi_ipv6addr_input += "value='" + eval('v_wifi' + wifi_counter + '_ipv6addr') + "' name='wifi" + wifi_counter + "ipv6addr'/>";
          for (var i=0; i<wifi_limit; i++) {
            var e = eval("e_wifi" + i + "_ipv6addr");
            if (e!="None" && wifi_counter==i)  {
              wifi_ipv6addr_input += "<div id='wifi" + wifi_counter + "ipv6addr__error' class='error'>" + e + "</div>";
            }
          }
          wifi_ipv6addr_input += "</div>"
          wifi_ipv6addr = wifi_ipv6addr_label + wifi_ipv6addr_input;
          {{pass}}

          wifi_chan_label = "<label id='imageconf_wifi" + wifi_counter + "chan__label' ";
          wifi_chan_label += "for='imageconf_wifi" + wifi_counter + "chan' class='form_label'>";
          wifi_chan_label += "{{=T('Channel')}}</label>";
          wifi_chan_input = "<div class='form_value'>";
          wifi_chan_input += "<input type='text' id='imageconf_wifi" + wifi_counter + "chan' ";
          wifi_chan_input += "value='" + eval('v_wifi' + wifi_counter + '_chan') + "' name='wifi" + wifi_counter + "chan'/>";
          for (var i=0; i<wifi_limit; i++) {
            var e = eval("e_wifi" + i + "_chan");
            if (e!="None" && wifi_counter==i)  {
              wifi_chan_input += "<div id='wifi" + wifi_counter + "chan__error' class='error'>" + e + "</div>";
            }
          }
          wifi_chan_input += "</div>";
          wifi_chan = wifi_chan_label + wifi_chan_input;

          wifi_dhcp_label = "<label id='imageconf_wifi" + wifi_counter + "dhcp__label' ";
          wifi_dhcp_label += "for='imageconf_wifi" + wifi_counter + "dhcp' class='form_label'>";
          wifi_dhcp_label += "{{=T('Enable DHCP')}}</label>";
          wifi_dhcp_input = "<div class='form_value'>";
          wifi_dhcp_input += "<input type='checkbox' checked='' ";
          wifi_dhcp_input += "name='wifi" + wifi_counter + "dhcp' id='imageconf_wifi" + wifi_counter +"dhcp'/>";
          wifi_dhcp_input += "<a onclick=\"ToggleDiv('wifi" + wifi_counter + "dhcp_range')\" ";
          wifi_dhcp_input += "title='Advanced Options' class='advanced' href='javascript:void(0)'>+/-</a>"
          wifi_dhcp_input += '{{=formhelpers.helptext(T("Enable DHCP and allow guests to connect to the network without using olsrd."),config.expandablehelp)}}';
          wifi_dhcp_input += "</div>"
          wifi_dhcp = '<div class="expert">' + wifi_dhcp_label + wifi_dhcp_input + '</div>'; 



          wifi_dhcp_range_wrap_start = "<div style='display: none;' class='suboptions' id='wifi" + wifi_counter + "dhcp_range'>";
          wifi_dhcp_range_label = "<label id='imageconf_wifi" + wifi_counter + "dhcprange__label' ";
          wifi_dhcp_range_label += "for='imageconf_wifi" + wifi_counter + "dhcprange' class='form_label'>";
          wifi_dhcp_range_label += "{{=T('DHCP Range')}}</label>";
          wifi_dhcp_range_input = "<div class='form_value'>";
          wifi_dhcp_range_input += "<input type='text' id='imageconf_wifi" + wifi_counter + "dhcprange' ";
          wifi_dhcp_range_input += "value='" + eval('v_wifi' + wifi_counter + '_dhcprange') + "' name='wifi" + wifi_counter + "dhcprange'/>";
          for (var i=0; i<wifi_limit; i++) {
            var e = eval("e_wifi" + i + "_dhcprange");
            if (e!="None" && wifi_counter==i)  {
              wifi_dhcp_range_input += "<div id='wifi" + wifi_counter + "dhcprange__error' class='error'>" + e + "</div>";
            }
          }
          wifi_dhcp_range_input += '{{=formhelpers.helptext(T("The range from which clients are assigned IP adresses. If it is inside your mesh network, then clients are announced as HNA by olsrd. If it is outside, they are natted. If left blank then a range is autocalculated from 6.0.0.0/8."),config.expandablehelp)}}';
          wifi_dhcp_range_input += "</div>";
          wifi_dhcp_range_wrap_end = "</div>";
          wifi_dhcp_range = wifi_dhcp_range_wrap_start + wifi_dhcp_range_label + wifi_dhcp_range_input + wifi_dhcp_range_wrap_end;

          /* VAP */
          checked = ''
          for (var i=0; i<wifi_limit; i++) {
            var v = eval("v_wifi" + i + "_vap");
            if ((v=="True" || v=="on") && wifi_counter==i)  {
              checked = ' checked="1" ';
            }
          }

          wifi_vap_label = "<label id='imageconf_wifi" + wifi_counter + "vap__label' ";
          wifi_vap_label += "for='imageconf_wifi" + wifi_counter + "vap' class='form_label'>";
          wifi_vap_label += "{{=T('VAP')}}</label>";
          wifi_vap_input = "<div class='form_value'>";
          wifi_vap_input += "<input type='checkbox'" + checked;
          wifi_vap_input += "name='wifi" + wifi_counter + "vap' id='imageconf_wifi" + wifi_counter +"vap'/>";
          wifi_vap_input += "<a onclick=\"ToggleDiv('wifi" + wifi_counter + "_ra')\" ";
          wifi_vap_input += "title='Advanced Options' class='advanced' href='javascript:void(0)'>+/-</a>"

          wifi_vap_input += '{{=formhelpers.helptext(T("Configure a VAP as Access Point. Only with drivers that support this. At the moment these are madwifi, ath5k and ath9k."),config.expandablehelp)}}';
          wifi_vap_input += "</div>"
          wifi_vap = '<div class="expert">' + wifi_vap_label + wifi_vap_input + '</div>';

          wifi_ipv6ra = '';
          {{ if session.ipv6_config == 'auto-ipv6-random' or session.ipv6_config == 'auto-ipv6-fromv4' or session.ipv6_config == 'static':}}
          wifi_ipv6ra_label_start = "<div style='display: none;' class='suboptions' id='wifi" + wifi_counter + "_ra'>";
          wifi_ipv6ra_label = "<label id='imageconf_wifi" + wifi_counter + "ipv6ra__label' ";
          wifi_ipv6ra_label += "for='imageconf_wifi" + wifi_counter + "ipv6ra' class='expert form_label'>";
          wifi_ipv6ra_label += "{{=T('Router Advertisement')}}</label>";
          wifi_ipv6ra_input = "<div class='form_value expert'>";
          checked = ''
          for (var i=0; i<wifi_limit; i++) {
            var v = eval("v_wifi" + i + "_ipv6ra");
            if ((v=="True" || v=="on") && wifi_counter==i)  {
              checked = ' checked="1" ';
            }
          }
          wifi_ipv6ra_input += "<input type='checkbox'" + checked;
          wifi_ipv6ra_input += "name='wifi" + wifi_counter + "ipv6ra' id='imageconf_wifi" + wifi_counter +"ipv6ra'/>";
          wifi_ipv6ra_input += '{{=formhelpers.helptext(T("Send IPv6 router advertisements."),config.expandablehelp)}}';
          wifi_ipv6ra_input += "</div>";
          wifi_ipv6ra_input_end = "</div>";
          wifi_ipv6ra = wifi_ipv6ra_label_start + wifi_ipv6ra_label + wifi_ipv6ra_input + wifi_ipv6ra_input_end;
          {{pass}}

          wrapper_end = "</fieldset></div>";
          newdiv.innerHTML = wrapper_start + wifi_ipv4addr + wifi_ipv6addr + wifi_chan + wifi_dhcp + wifi_dhcp_range + wifi_vap + wifi_ipv6ra + wrapper_end;
          document.getElementById(divName).appendChild(newdiv);
          wifi_counter++;
          document.getElementById("wifiifsnr").value = wifi_counter;
        }
      }
    </script>

    <div id="dynamicWifi">
      <!-- This will be replaced by dynamically created wifi interface config sections -->
    </div>

    <!-- add wifi entry(s) -->
    <script type="text/javascript">
      nr = document.getElementById("wifiifsnr").value;
      var i = 0;
      while (i < nr) {
        addInput('dynamicWifi');
        i++;
      }
    </script>

    <a href="javascript:void(0)" title="{{=T('Add')}}" onClick="addInput('dynamicWifi');hideAll();"><img src='{{=URL('static', 'images/icons/add.gif')}}'> {{=T('Add another wifi interface')}}</a>

    {{=formhelpers.panel_end()}}
    {{pass}}
    <!-- End wifi tab -->

    
    <!-- LAN TAB -->
    {{if session.community <> 'weimar' and not session.noconf == True:}}
    {{=formhelpers.panel_start("lan", T('LAN'), T('You can change the settings for the LAN interface here.'))}}
    <ul>
        <li>{{=T('Per default OpenWrt uses the "static" protocol and an ip address of "192.168.1.1" with netmask "255.255.255.0".')}}</li>
        <li>{{=T('If you choose protocol "olsr" then use an ip address from the mesh network. In this case olsr will be enabled on this interface and it will be added to the firewall zone "freifunk".')}}</li>
    </ul>
    {{=fh.field("lanproto")}}
    {{=fh.field("lanipv4addr")}}
    {{=fh.field("lannetmask")}}

    <div id="lan_options">
        <!--This will be inserted by the lanselect() function -->
    </div>
    {{=formhelpers.panel_end()}}
    {{pass}}

  
 
    <!-- WAN TAB -->
    {{if session.community <> 'weimar' and not session.noconf == True:}}
    {{=formhelpers.panel_start("wan", T('WAN'), T('Configure your wan interface here. The OpenWrt Default is to use "dhcp".'))}}

    {{=fh.field("wanproto")}}
    <div id="wan_options">
        <!-- This will be inserted by the wanselect() function -->
    </div>
    {{=formhelpers.panel_end()}}
    {{pass}}



    <!-- PACKAGES TAB -->
    {{=formhelpers.panel_start("packages", T('Packages'), T('Add or remove packages which are going to be installed into your firmware image here.'))}}
    <strong>{{=T('Default Packages')}}:</strong> 
    <div id='default-packages'></div>
    <div style="clear:both"></div>

    {{=fh.field("packages")}}


    <H2>{{=T('Available Packages')}}</h2>

    <div class="panel-group" id="packagelist" role="tablist" aria-multiselectable="true">
        <img src="{{=URL('static', 'images/loading.gif')}}" alt="loading..." title="loading" style="padding-right: 8px">
        {{T("Loading package list...")}}
    </div>
    {{=formhelpers.panel_end()}}


    <!-- UPLOAD TAB -->
    {{=formhelpers.panel_start("upload", T('Upload'), T('Upload a tar.gz file which will be extracted and included in the image. The files in this archive are placed in the root of your image in the same way they are arranged in the archive.'))}}

    <input type="file" id="upload" class="upload" name="upload"/>
    {{ if form.errors.upload:}}
        <div id="upload__error" class="error">{{=T('Only tar.gz archives can be uploaded.')}}</div>
    {{pass}}
    {{=formhelpers.panel_end()}}
  
    <!-- Start submit tab -->
    {{=formhelpers.panel_start("submit", T('Submit'), T('Submit the form and build your images. Note: root password will be "admin" if not set.'))}}
    <input type="submit" value="{{=T('Build image')}}" class="button" />
    {{=formhelpers.panel_end()}}
    </div>
    <!-- End submit tab -->

  <!-- Hidden fields -->
  <input type="hidden" name="target" value="{{=session.target}}" />
  <input type="hidden" name="url" value="{{=session.url}}" />
  {{if not config.noconf == True:}}
  <input type="hidden" name="community" value="{{=session.community}}" />
  {{pass}}
  <input type="hidden" name="mail" value="{{=session.mail}}" />
  {{if not config.noconf == True:}}
	{{if not session.noconf == False:}}
  <input type="hidden" name="noconf" value="True" />
	{{pass}}
  {{pass}}
  {{ if session.ipv6_config:}}
  <input type="hidden" name="ipv6_config" value="{{=session.ipv6_config}}" />
  {{pass}}
  <input type="hidden" name="status" value="1" />
  <input type="hidden" name="rand" value="{{=rand}}" />
  <input type="hidden" name="_formname" value="step2" />

   
</form>


{{if session.community == 'weimar':}}
  <!-- REGISTRATOR client -->
  <script src="http://reg.weimarnetz.de/static/jquery-client.js"></script>
  <script>
  // define function to handle api answer as a callback
  function _ffreg_check_callback(answer) {

    // update the status HTML with the result
    jQuery('#imageconf_nodenumber_status').text(answer.result);
        
    var status_color = "lightgrey";
    status_color = answer.free ? 'lightgreen' : 'lightsalmon';
    $('#imageconf_nodenumber').css('background', status_color);
  }
  </script>
{{pass}}

<script>
    $( document ).ready(function() {
        init_step2();
    });
</script>

{{block footer}}
{{include 'footer.html'}}
{{end}}
