<header class="header">
    <div class="container">
        <div class="row">
            <header class="sitetitle">
                <h1 class="remove-bottom title" style="margin-top: .5em;">
                    {{=response.title or request.application}}
                    <small>{{=response.subtitle or ''}}</small>
                    {{if session.target:}}
                    <small>[{{=session.target}}]</small>
                    {{pass}}
                </h1>
            </header>
            <div class="sitelogo">
                <img src="{{=URL('static','images/logo.png')}}" />
            </div>
        </div>
        
        <div class="statusbar">
        {{block statusbar}}
        <div class="breadcrumbs">{{=request.function.replace('_', ' ').title()}}</div>
        <div id="languageselect" style="float:right">
            <select name="adminlanguage" id="language-select">
                {{for language in T.get_possible_languages():}}
                <option {{=T.accepted_language==language and 'selected' or ''}} value="{{=language}}">{{=T(language)}}</option>
                {{pass}}
            </select>
        </div>
        {{end}}
    </div>
        
    </div>
    
</header>