<header class="header">
    <div class="container">
        <div class="row">
            <a href="{{=URL("index")}}">
                <header class="site-title">
                    <h1 class="title">
                        {{=response.title or request.application}}
                        <small>{{=response.subtitle or ''}}</small>
                        {{if session.target_short:}}
                        <small>[{{=session.target_short}}]</small>
                        {{pass}}
                    </h1>
                </header>
            </a>
            {{=response.logo or ''}}
        </div>
        
        <div class="statusbar">
        {{block statusbar}}
        <div class="breadcrumbs">{{=request.function.replace('_', ' ').title()}}</div>
        <div id="language-select-wrapper">
            <select name="adminlanguage" id="language-select">
                {{for language in T.get_possible_languages():}}
                <option {{=T.accepted_language==language and 'selected' or ''}} value="{{=language}}">{{=T(language)}}</option>
                {{pass}}
            </select>
        </div>
        {{end}}
    </div>
        
    </div>
    
</header>
