/*DL, DT, DD TAGS LIST DATA*/
dl {
    margin-bottom:50px;
}
 
dl dt {
    /*background:#5f9be3;
    color:#fff;*/
    float:left; 
    font-weight:bold; 
    margin-right:10px; 
    /*padding:2px;  */
    width:150px; 
}
 
dl dd {
    margin:2px 0; 
    /*padding:2px 0;*/
}

#docurl {
    margin-bottom: 25px;
}

#imageconf_pubkeys {
    white-space: pre;
    word-wrap: normal;
    overflow-x: auto;
}

input.pass-edit.match {
    background-color: #5cb85c;
}
input.pass-edit.mismatch {
    background-color: #d9534f;
}


